@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/mixins";
@import "~bootstrap-scss/variables";

@import "~bootstrap-scss/reboot";
@import "~bootstrap-scss/root";
@import "~bootstrap-scss/list-group";
@import "~bootstrap-scss/utilities/background";
@import "~bootstrap-scss/utilities/borders";
@import "~bootstrap-scss/utilities/display";
@import "~bootstrap-scss/utilities/flex";
@import "~bootstrap-scss/utilities/position";
@import "~bootstrap-scss/utilities/shadows";
@import "~bootstrap-scss/utilities/spacing";
@import "~bootstrap-scss/utilities/text";
@import "~bootstrap-scss/forms";
@import "~bootstrap-scss/grid";
@import "~bootstrap-scss/bootstrap-grid";
@import "~bootstrap-scss/nav";
@import "~bootstrap-scss/navbar";
@import "~bootstrap-scss/buttons";

//@import "~bootstrap-scss/utilities/screenreaders";
//@import "~bootstrap-scss/utilities/align";
//@import "~bootstrap-scss/utilities/clearfix";
//@import "~bootstrap-scss/utilities/embed";
//@import "~bootstrap-scss/utilities/float";
//@import "~bootstrap-scss/utilities/sizing";
//@import "~bootstrap-scss/utilities/visibility";

.btn-icon {
  padding: $input-btn-padding-y;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 { font-size: $h1-font-size; }
h2 { font-size: $h2-font-size; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

