.square {
  width: 25px;
  height: 25px;
}

.badge:hover {
  transform: scale(1.1) rotateZ(4deg);
  transition: transform .75s ease-in-out;
}

.badge {
  cursor: default;
}

.badge-invert {
  background-color: #666a6d;
  color: white;
  border: 1px solid #353535;
}
