---
import Nav from '../components/Nav.jsx';
import BaseHead from '../components/BaseHead.astro';

const title = 'Azriz Haziq'
const permalink = 'http://locahost:3000'
const description = 'Always bet on Deno, Rust, Typescript'

---
<html>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Nav />
    All my posts
    <a href="/posts">List of posts</a>
  </body>
</html>
