---
  import { Type } from './Type.tsx';
  const whoami: string = ['programmer', '❤️ cats', 'I hate JS', 'Always bet on Deno, Rust, Typescript', '❤️ unit and e2e test', 'Non stop learn something new']
---

<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex items-center" style="height: 75vh">
  <div class="flex flex-col">
  <h1 class="text-5xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
    <span class="block text-black: dark:text-white xl:mr-2">Hi 👋,</span>
    <div class="block text-indigo-600 xl:inline">Azriz Haziq Jasni</div>
  </h1>
  <p class='mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0'>
    <Type client:load texts={whoami} />
  </p>
  </div>
</main>
<!-- <div class="aj__hero-section-img"></div> -->
