@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/mixins";
@import "~bootstrap-scss/variables";

.my {
  &-email {
    font-weight: 500;
  }

  &-name {
    font-weight: 900;

    @include media-breakpoint-only(xs) {
      font-size: 1.5rem;
    }
  }
}
