.ah-article {
  // single backticks
  &.prose code {
    &::before,
    &::after {
      @apply hidden;
    }

    &:not([class]) {
      white-space: nowrap;
      @apply rounded font-bold py-1 px-2 bg-gray-800 text-primary-200;

      .dark & {
        @apply bg-primary-200 text-gray-800;
      }
    }
  }

  // force pre to be dark mode
  .dark &.prose pre {
    @apply text-white bg-gray-800;
  }

  // for header to be clickable
  & :where(h1, h2, h3, h4, h5, h6) {
    scroll-margin-top: 100px;

    &:hover a[href^='#']::before,
    &:target a[href^='#']::before {
      @apply opacity-100;
    }

    & a[href^='#'] {
      @apply no-underline;

      &::before {
        content: '#';
        left: -30px;
        @apply opacity-0 absolute;
      }
    }
  }

  // if code have title
  .rehype-code-title {
    top: 25px;
    color: white;
    @apply bg-gradient-to-r from-indigo-500 to-indigo-300;
    @apply relative py-2 px-4 font-bold font-mono rounded-t;

    & + div > pre {
      @apply rounded-t-none;
    }

    // lg:prose-xl add few more margin so need to add top
    @screen lg {
      top: 36px;
    }
  }

  // prevent history.back when user scroll horizontal at code
  pre[class*='language-'] {
    overscroll-behavior-x: contain;
  }

  // make sure highlight line expand till end
  pre > code {
    float: left;
    min-width: 100%;
  }

  .code-line {
    @apply pl-4 -mx-4 border-l-4 border-gray-800;

    .dark & {
      @apply border-gray-800;
    }
  }

  .highlight-line {
    @apply -mx-4 bg-gray-700 bg-opacity-50 border-l-4 border-primary-500;

    .dark & {
      @apply bg-opacity-10;
    }
  }

  .line-number::before {
    @apply pr-4 -ml-2 text-gray-400;
    content: attr(line);
  }
}

@screen lg {
  .lg\:prose-xl pre {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
