@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  @apply bg-indigo-100;
}

html.dark body {
  @apply bg-gray-800;
}

.refresh-spin:hover {
  animation: refresh-spin 1s cubic-bezier(0.65, -0.21, 0.43, 1.23) infinite;
}

@keyframes refresh-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
